* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  overflow: hidden;
  opacity: 0;
  transition: all 2s;
}

.visible {
  opacity: 1;
}
#particles-js {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  height: 100vh;
}

.dark {
  background-color: #21242b;
}
.dark-mode {
  position: relative;
}
.checkbox {
  opacity: 0;
  position: absolute;
  bottom: 0;
  right: 0;
}

.label {
  width: 3rem;
  height: 1.5rem;
  background-color: rgb(0, 0, 0);
  display: flex;
  border-radius: 3rem;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  position: fixed;
  top: 2%;
  right: 2%;
  transform: scale(1.5);
  cursor: pointer;
  font-size: 0.8rem;
}

.ball {
  width: 1.2rem;
  height: 1.2rem;
  background-color: white;
  position: absolute;
  top: 2px;
  left: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

/*  target the elemenent after the label*/
.checkbox:checked + .label .ball {
  transform: translateX(1.5rem);
}

.fa-moon {
  color: pink;
}

.fa-sun {
  color: yellow;
}
.box {
  height: 80vh;
  width: 80vw;

  background: rgba(67, 56, 179, 0.8);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(1px);
  border-radius: 50px;
  position: relative;
  transform: translate(12%, 12%);
}

nav {
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 3rem;
  padding-top: 10px;
  z-index: 10;
  color: white;
  position: absolute;
  top: 0;
}

.nav-controls {
  display: flex;
}

.nav-controls div {
  margin-left: 3rem;
  text-decoration: none;
  background: rgba(255, 255, 255, 0.33);
  padding: 0.5rem;
  font-size: 1rem;

  border: solid 0.7px #3498db;
  position: relative;
  transition: 1s;

  font-weight: bold;
  cursor: pointer;
}
.nav-controls div:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0%;
  z-index: -1;
  background: #3498db;

  transition: 0.8s;
}
.nav-controls div:hover {
  transform: scale(1.2);
}
.nav-controls div:hover:before {
  height: 100%;
}
nav .welcome {
  font-size: 3rem;
  font-weight: bold;
  z-index: 10;
}

main {
  height: 70vh;
  width: 100%;
  padding: 30px 50px;
  display: flex;
  align-items: flex-start;
  gap: 2vw;
  flex-wrap: wrap;
  overflow-y: auto;
  position: absolute;
  top: 10vh;
  /* background: green; */
  overflow-x: hidden;
}
.card {
  width: 250px;
  height: 300px;
  background: rgba(236, 226, 226, 0.5);
  border-radius: 15px;
  transition-duration: 0.5s;
}

.card-header {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}

.card-heading {
  font-weight: bold;
  font-size: 1.1rem;
}

.edit-note,
.delete-note {
  height: 1.8rem;
  cursor: pointer;
  padding-bottom: 8px;
  transition-duration: 0.5s;
}

.edit-note > img,
.delete-note > img {
  height: 100%;
}

.card-content {
  padding: 2px 10px;
  word-wrap: break-word;
  height: 70%;
  overflow-y: auto;
}

.edit-note:hover,
.delete-note:hover {
  transform: scale(1.2);
}

.card:hover {
  background: rgba(236, 226, 226, 0.7);
  transform: scale(1.02);
}

/* Responsiveness */
@media (max-width: 1200px) {
  html {
    font-size: 14px;
  }
}

@media (max-width: 910px) {
  html {
    font-size: 12px;
  }
  .card-heading {
    font-size: 1.4rem;
  }
}

@media (max-width: 780px) {
  html {
    font-size: 11px;
  }
  .card-content {
    font-size: 1.2rem;
  }
}

@media (max-width: 500px) {
  html {
    font-size: 9.5px;
  }
  .card {
    width: 200px;
    height: 230px;
  }
}

@media (max-width: 400px) {
  html {
    font-size: 8px;
  }
  .nav-controls div {
    margin-left: 1rem;
  }
  .label {
    font-size: 0.6rem;
  }
}

@media (max-width: 350px) {
  main {
    padding-left: 20px;
  }
}
